.about-container {
  height: auto;
  padding: 5%;
  background-color: #fff;
}

.title {
  font-size: 30px;
}

.aboutcard {
  border: 1px solid #dcdcdc;
  border-radius: 10px 10px 10px 10px;
}

.headerimage {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.abouttext {
  text-align: left;
  padding: 5%;
}

.abouttext p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .about-container {
    height: auto;
    background: none;
    padding: 0;
    margin-bottom: 3%;
  }

  .title {
    font-size: 40px;
  }
  
  .aboutcard {
    padding: 3%;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
  }

  .headerimage {
    border-radius: 10px;
    width: 500px;
  }

  .abouttext {
    padding: 0;
    padding-left: 5%;
    text-align: justify;
  }
}