.sidebar-container {
  height: 100vh;
  overflow: auto;
}

.picture {
  padding-top: 64px;
}

.picture .image {
  border-radius: 50%;
  height: 250px;
  margin: 5% 10% 5% 10%;
  background-image: url(../../assets/once.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.navigation ul {
  padding: 0;
  text-align: center;
  line-height: 50px;
}

.navigation li {
  list-style: none;
}

.navigation button {
  border: none;
  background: none;
  line-height: initial;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  margin-top: 10%;
}

.footer {
  padding: 5%;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer span {
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (min-height: 700px) {
  .sidebar-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  .picture {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
  }

  .picture .image {
    margin: 0;
    height: 300px;
  }

  .icons {
    font-size: 35px;
  }
}

/* @media screen and (min-width: 1024px) {
  .sidebar-container {
    all: initial;
  }

  .picture {
    all: initial;
  }

  .icons {
    all: initial;
  }
} */
