.sidebar-container {
  height: 100vh;
  overflow: auto;
}

.picture {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 64px;
}

.picture img {
  height: 185px;
  width: 170px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.navigation ul {
  padding: 0;
  text-align: center;
  line-height: 50px;
}

.navigation li {
  list-style: none;
}

.navigation button {
  border: none;
  background: none;
  line-height: initial;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  margin-top: 10%;
}

.footer {
  padding: 5%;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer span {
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (min-height: 700px) {
  .sidebar-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  .picture {
    padding-top: 96px;
  }

  .icons {
    font-size: 35px;
  }
}